@using ABCo.Multicam.Client.ViewModels.Hosting;
@inherits VMBoundComponent<IServerHostingVM>

<!-- Config Change -->
<div class="section">
	<p class="sectionTitle">Hosting Mode</p>

	<div class="grid modeSelection">
		<p class="modeTag">Mode:</p>

		<select class="combo modeCombo" value="@VM.SelectedMode" @onchange="e => { VM.SelectedMode = (string)e.Value!; VM.UpdateHostingMode(); }">
			@foreach (var item in VM.ModeValues)
			{
				<option>@item</option>
			}
		</select>
	</div>

	@if (VM.ShowAutomaticCaption)
	{
		<div class="grid automaticSuggestionInfo">
			<p class="autoDecidedText">@VM.AutomaticCaption</p>
		</div>
	}
	
	@if (VM.ShowCustomHostSelection)
	{
		<div class="grid customHostSelection">
			<p class="hostTag">Host:</p>
			<p class="hostLeadIn">http(s)://</p>
			<input class="textbox hostTxt" type="text" @onchange="e => { VM.CustomHostName = (string)e.Value!; VM.UpdateHostingMode(); }" value="@VM.CustomHostName" />
		</div>
	}
</div>

<hr class="sectionSeparator" />
<div class="section">
	@if (VM.CanStartStop)
	{
		<div class="btn btnNormal connectionBtn" @onclick=VM.ToggleConnection>
			<p>@VM.StartStopButtonText</p>
		</div>
	}
	else
	{
		<div class="btn btnNormal btnDisabled connectionBtn">
			<p>@VM.StartStopButtonText</p>
		</div>
	}
</div>