@using ABCo.Multicam.Client.Presenters;
@using ABCo.Multicam.Server;
@using ABCo.Multicam.Client.Services;
@inherits VMBoundComponent<IPopOutVM>

@if (VM.ShowMenu)
{
	<div class="menuContainer">
		<div class="blackCurtain" @onclick=VM.Close></div>

		@if (VM.ContextMenu != null)
		{
			<div class="menuContainerPushDown">
				<span class="menuContainerPushDownSpan" style="height: @(VM.ContextMenu.Pos.Y)px;"></span>
				<div class="menuContainerPushRight">
					<span class="menuContainerPushRightSpan" style="width: @(VM.ContextMenu.Pos.X)px; "></span>
					<div class="menus">
						<div class="menu contextMenu">
							<p class="title">@VM.ContextMenu.Title</p>

							<ul>
								@foreach (var item in VM.ContextMenu.Items)
								{
									<li class="btn btnBorderless" @onclick="() => VM.ContextChooseItem(item)"><p>@item</p></li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		}
		
		@if (VM.CustomContent != null)
		{
			<div class="menu customMenu">
				<p class="title">@VM.CustomContent.Title</p>

				<div class="content">

				</div>
			</div>
		}
	</div>
}